*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
.registerContainer {
    background-color: #222831;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.logo{
    margin-top: 3.6rem;
    background-color: #31363F;
    width: 40%;
    height: 80vh;
    text-align: center;
    border-radius: 15px;
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text{
    margin: 100px;
    color: #EEEEEE;
    text-align: left;
    line-height: 25px;
    font-size: 20px;
}
.title span{
    color: #76ABAE;
    font-size: 40px;
}
.title {
    font-weight: 800;
    font-size: 36px;
}
.registerForm{
    background-color: #222831;
    height: 60vh;
    width: 50%;
    padding-top: 30px;
    margin-top: 5rem;
    padding: 2rem;
}
.formR{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center

}
.head{
    color: #EEEEEE;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.textInput{
    margin-left: 7.5rem;
    margin-top: 2rem;
    width: 60%;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    background-color: #76ABAE;
    border: none;
    border-radius: 1rem;
    color: #222831;
    font-size : 18px; 
    padding-left: 20px;
}
.textInput::placeholder {
    color: #222831;
    /* text-align: left; */
    padding: 20px;
    font-size: 18px;
}
.textInput:focus{
    border-color: #222831;
    outline-color:#222831; 
}
.fileInput{
    margin-top: 2rem;
}
.registerButton{
    margin-top: 2rem;
    width: 10rem;
    height: 2.2rem;
    color: #222831;
    background-color: #76ABAE;
    border: 2px solid transparent;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 15rem;
}
.registerButton:hover{
    background-color: #222831;
    color: #76ABAE;
    border:2px solid  #76ABAE;
    cursor: pointer;
}
.loginText{
    color: #EEEEEE;
    text-decoration: underline;
    margin-left: 13rem;
    font-size: 18px;
}
.color{
    color: #EEEEEE;
    
}
.fileInput{
    margin-left: 15rem;
}
.fileInput:hover{
    cursor: pointer;
}
.fileInput>span{
    margin-left: 1rem;
    
}


